
.globals-layout{
   @apply flex  min-h-screen  flex-col px-10 sm:px-24 py-6
}
.globals-padding{
   @apply px-10 sm:px-24 py-2  
}
.bg-globals {
   background: 
       linear-gradient(270deg, rgba(79, 59, 38, 0.89) 50.1%, rgba(154, 109, 77, 0.9) 98%),
       url('/image/hero1 2.png');
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: 100%;
}

.box-layout-globals{
  @apply bg-white rounded-md  p-6 text-sugar-1
}

/* menu navbav */
.p-megamenu {
   background: #ffffff;
   color: #495057;
   border: none;
   /* border-radius: 3px; */
}

.p-megamenu[pr_id_1].p-megamenu-mobile-active .p-megamenu-root-list {
   width: unset !important;
   right: 6px;
}

/* input */
.globals-input-layout {
   @apply  flex flex-col mb-2 text-sm 
}
.globals-input{
   @apply border h-11 px-2 
}
.p-inputtext:enabled:focus{
   box-shadow: none;

}

.p-password-input{
   padding:0 8px;
   width: 100%;
   height: 2.75rem;
   border-radius: 0.375rem /* 6px */
}
.p-password {
   display: block;
}

.p-inputnumber {
   display: flex;
   width: 100%;

}

.p-calendar{
   display: flex;
   /* position: relative; */
   @apply border h-11 pl-2   rounded-md
}

.p-button.p-button-icon-only {
   background-color: rgb(60, 60, 60);
   color: #ffffff;
}
.p-inputgroup-addon{
   background-color: rgb(60, 60, 60);
   color: #ffffff;
}
.p-inputotp-input{
   @apply border h-11 px-2 
}


/* editor */
/* .p-editor-toolbar {
   display: none;
} */
.ck.ck-content {
   max-height: 350px;
   height:350px;
 }
 
 ol {
   margin-left: 40px;
 }
 
ul {
   margin-left: 40px;
 }
